.index-nav {
    display: block;
    text-align: center;
    margin: 1rem;
}
.index-main {
    display: flex;
    width: 85%;
    margin: 2.5rem auto 0 auto;
}
.index-main > div {
    width: 25%;
}

.index-main__title {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}
